.sidebar_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18rem;
    min-height: 100vh;
    background-color: #1C2556;
    z-index: 5;
    border-right: solid 1px white;
}

/* .sidebar_options_container {
    margin-top: 85px;
} */

.navbar_logo {
    padding: 15px 30px;
    background-color: white;
}

.navbar_logo img {
    width: 50px;
    height: auto;
    scale: 1.2;
}

.sidebar_option_wrapper {
    padding: 12px 16px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    cursor: pointer !important;
}

.sidebar_option_wrapper p {
    margin-bottom: 0;
    margin-top: 0;
}

/* ------- accordion style starts ---------- */

.signup_accordion.active .accordion_content {
    height: auto;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.accordion_content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.accordion_header {
    padding: 12px 16px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: white;
}

.accordion_content_box {
    padding: 20px;
    background: #1c2556;
    color: white;
}

.sidebar_top_section button {
    display: none;
}

/* ------- accordion style ends ---------- */

@media(max-width: 768px) {
    .sidebar_container {
        left: -18rem;
        transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .sidebar_container.active {
        left: 0;
    }

    .sidebar_options_container {
        margin-top: 25px;
    }

    .sidebar_top_section {
        display: flex;
        justify-content: space-between;
    }

    .sidebar_top_section button {
        background-color: transparent;
        font-size: 30px;
        color: white;
        border: none;
        display: block;
    }

    .navbar_logo {
        display: none;
    }
}